{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Professional Certifications</h2>
    <div class="row">
        {% for cert in profile.certifications %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        {% if 'Microsoft Certified: Azure Fundamentals' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103664.png" class="me-3" style="width: 80px; height: auto;">
                        {% elif 'GoPractice Product Simulator' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103668.png" class="me-3" style="width: 80px; height: auto;">
                        {% elif 'Product Management: Building a Product Strategy' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103669.png" class="me-3" style="width: 80px; height: auto;">
                        {% elif 'AI For Everyone' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103667.png" class="me-3" style="width: 80px; height: auto;">
                        {% elif 'AWS' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103659.png" class="me-3" style="width: 80px; height: auto;">
                        {% elif 'MuleSoft' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103661.png" class="me-3" style="width: 80px; height: auto;">
                        {% elif 'Agile' in cert.name or 'SAFe' in cert.name %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103662.png" class="me-3" style="width: 80px; height: auto;">
                        {% else %}
                            <img src="https://cdn-icons-png.flaticon.com/512/2103/2103663.png" class="me-3" style="width: 80px; height: auto;">
                        {% endif %}
                        <div>
                            <h5 class="card-title">{{ cert.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ cert.issuer }}</h6>
                            <p class="card-text">{{ cert.date }}</p>
                            {% if cert.link %}
                            <a href="{{ cert.link }}" target="_blank" class="btn btn-sm btn-outline-primary">View Certificate</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 